@page "/coordonateurEdit"
@using GestionDesStagesTB.Shared.Models;
@attribute [Authorize(Policy = @GestionDesStagesTB.Shared.Policies.Policies.EstCoordonateur)]
@using Microsoft.AspNetCore.Authorization
@using GestionDesStagesTB.Client.Pages;
<section>
    <AuthorizeView>
        <Authorized>
            <h3 style="background-color: black; color: white; padding: 5px 5px 5px 5px;" class="page-title">Détail des informations de votre profil | @context.User.Identity.Name</h3>
        </Authorized>
    </AuthorizeView>
    <p class="text-muted" style="font-style:italic">Prenez note que votre courriel et votre mot de passe peuvent être modifiés en cliquant en haut à droite.</p>
    <EditForm Model="@Coordonateur" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary></ValidationSummary>

        <div class="form-group row">
            <label asp-for="Prenom" class="col-sm-3">Votre prénom :</label>
            <InputText id="Prenom" class="form-control col-sm-8" @bind-Value="@Coordonateur.Prenom" placeholder="Entrer votre prénom"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Coordonateur.Prenom)" />
        </div>

        <div class="form-group row">
            <label asp-for="Nom" class="col-sm-3">Votre nom :</label>
            <InputText id="Nom" class="form-control col-sm-8" @bind-Value="@Coordonateur.Nom" placeholder="Entrer votre nom"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Coordonateur.Nom)" />
        </div>

        <div class="form-group row">
            <label asp-for="Telephone" class="col-sm-3">Votre téléphone cellulaire :</label>
            <InputText id="Telephone" class="form-control col-sm-8" @bind-Value="@Coordonateur.Telephone" placeholder="Entrer votre numéro de téléphone cellulaire"></InputText>
            <label class="offset-sm-3 col-sm-8 text-muted">Merci de saisir avec le format suivant : 9999999999)</label>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Coordonateur.Telephone)" />
        </div>

        <button type="submit" class="btn btn-primary edit-btn">Enregistrer les informations</button>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Annuler</a>
    </EditForm>
</section>

