@page "/stageedit"
@page "/stageedit/{StageId}"
@attribute [Authorize(Policy = @GestionDesStagesTB.Shared.Policies.Policies.EstEntreprise)]
@using GestionDesStagesTB.Shared.Models;

<section>
    <h3 style="background-color: black; color: white; padding: 5px 5px 5px 5px;" class="page-title">Détail des informations @(String.IsNullOrEmpty(Stage.Titre) ? "" : " | " + @Stage.Titre)</h3>
    <EditForm Model="@Stage" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary></ValidationSummary>
        <div class="form-group row">
            <label asp-for="Titre" class="col-sm-3">Titre du stage:</label>
            @*<InputText id="Titre" class="form-control col-sm-8"  @bind-Value="@Stage.Titre" placeholder="Entrer le titre du stage"></InputText>*@
            <input @bind-Value:event="oninput" id="Titre" class="form-control col-sm-8" @bind-Value="@Stage.Titre" placeholder="Entrer le titre du stage" />
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Stage.Titre)" />
        </div>
        <div class="form-group row">
            <label asp-for="Nom" class="col-sm-3">Nom de l'employeur:</label>
            <input @bind-Value:event="oninput" id="Nom" class="form-control col-sm-8" @bind-Value="@Stage.Nom" placeholder="Entrer le nom de l'employeur" />
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Stage.Nom)" />
        </div>

        <div class="form-group row">
            <label asp-for="nomEntreprise" class="col-sm-3">Nom de l'entreprise:</label>
            <input @bind-Value:event="oninput" id="nomEntreprise" class="form-control col-sm-8" @bind-Value="@Stage.nomEntreprise" placeholder="Entrer le nom de l'entreprise" />
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Stage.nomEntreprise)" />
        </div>

        <div class="form-group row">
            <label asp-for="Email" class="col-sm-3">Email:</label>
            <input @bind-Value:event="oninput" id="Email" class="form-control col-sm-8" @bind-Value="@Stage.Email" placeholder="Email" />
            <ValidationMessage asp-validation-for="Input.Email" class="offset-sm-3 col-sm-8" For="@(() => Stage.Email)" />
        </div>


        <div class="form-group row">
            <label asp-for="Description" class="col-sm-3">Description sommaire du stage:</label>
            <InputTextArea id="Description" class="form-control col-sm-8" @bind-Value="@Stage.Description" placeholder="Entrer la description du stage"></InputTextArea>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Stage.Description)" />
        </div>

        <div class="form-group row">
            <label for="Statut" class="col-sm-3">Statut: </label>
            <InputSelect id="Statut" class="form-control col-sm-8" @bind-Value="@Stage.StageStatutId">
                @foreach (var statut in StageStatut)
                {
                    <option value="@statut.StageStatutId">@statut.DescriptionStatut</option>
                }
            </InputSelect>
        </div>

        <div class="form-group row">
            <label for="Salaire" class=" offset-sm-3">
                <InputCheckbox id="Salaire" @bind-Value="@Stage.Salaire"></InputCheckbox>
                &nbsp;Si coch&eacute;e, le stage est r&eacute;mun&eacute;r&eacute;
            </label>
        </div>

        <div class="form-group row">
            <label for="typetravailRadioGroup" class="col-sm-3">Type de travail: </label>
            <InputRadioGroup Name="typetravailRadioGroup" @bind-Value="@Stage.TypeTravail">
                <br />
                @foreach (var typetravail in (TypeTravail[])Enum.GetValues(typeof(TypeTravail)))
                {
                    <InputRadio Name="typetravailRadioGroup" Value="typetravail" />
                    @:&nbsp;
                    @typetravail
                    @:&nbsp;&nbsp;&nbsp;
                }
            </InputRadioGroup>
        </div>

        <div class="form-group row">
            <label for="DateCreation" class="col-sm-3">Création: </label>
            <InputDate id="DateCreation" class="form-control col-sm-8" @bind-Value="@Stage.DateCreation" placeholder="Entrer la date création"></InputDate>
        </div>
        <button type="submit" class="btn btn-primary edit-btn">@LibelleBoutonEnregistrer</button>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Annuler</a>
    </EditForm>


</section>